@import 'tailwindcss';

@theme {
	--color-brand-green: #004d40;

	/* dark mode colours */
	--color-rich-black: #001514; /* body */
	--color-dark-brand-green: #003d33;
	--color-card: #ddd8d8;
	--color-card-hover: #c9c0c0d2;
}

.dark body {
	background-color: var(--color-rich-black);
}

.dark #open-sidebar-btn {
	background-color: var(--color-dark-brand-green);
}

.dark #temperature-chart {
	background-color: var(--color-card);
}

.dark #temperature-chart > h3,
.dark #temperature-chart > h3 > div > span {
	color: #000;
}

.dark #temperature-chart > h3:hover {
	background-color: var(--color-card-hover);
}

.dark #temperature-chart .recharts-layer .recharts-label-list text {
	fill: #000;
}

.dark #temperature-chart .recharts-legend-wrapper span span {
	color: #000 !important;
}

.dark #temperature-chart .recharts-xAxis tspan {
	fill: #000 !important;
}

.dark #temperature-chart .recharts-yAxis tspan {
	fill: #000 !important;
}

.dark [id^='forecast-card-'] {
	background-color: var(--color-card);
	color: var(--color-rich-black);
}

.dark [id^='forecast-card-conditions-'] {
	border-color: var(--color-rich-black);
}

.dark [id$='-suggestions'] {
	background-color: var(--color-card);
	color: var(--color-rich-black);
}

.dark [id*='-suggestions-li-'] {
	color: var(--color-rich-black);
}

.dark [id*='-suggestions-li-']:hover {
	background-color: var(--color-card-hover);
}
