@import 'tailwindcss';

@theme {
	--color-brand-green: #004d40;

	/* dark mode colours */
	--color-rich-black: #001514; /* body */
	--color-dark-brand-green: #003d33;
	--color-card: #ddd8d8;
}

.dark body {
	background-color: var(--color-rich-black);
}

.dark #open-sidebar-btn {
	background-color: var(--color-dark-brand-green);
}

.dark [id^='forecast-card-'] {
	background-color: var(--color-card);
	color: var(--color-rich-black);
}

.dark [id^='forecast-card-conditions-'] {
	border-color: var(--color-rich-black);
}
